body{
    font-family: 'Pgaleriagaleriaoppins', sans-serif;
    background-color: #f3f3f3;
}

.fondonavbar{
    background-color: black;
}

.logoprincipalhome{
    scale: 1;
    transition: 500ms;
}

.logoprincipalhome:hover{
    transition: 500ms;
    scale: 1.05;
    padding: 0;
}

@media screen and (max-width: 992px) {
    .logoprincipalhome:hover {
        scale: 1;
    }
}

.botoncontratame{
    transition: 250ms;
    padding: 7px 15px 7px 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border: solid 1px;
}

.botoncontratame:hover{
    transform: scale(1.05);
    transition: 250ms;
    padding: 7px 15px 7px 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: #aaaaaa;
    border-width: 1px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border: solid 1px;
}

nav .nav1{
    transition: 250ms;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

nav .nav1:hover{
    transition: 250ms;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
}

.navbar-nav .nav-link  {
    padding-right: 120px;
    padding-left: 10px;
}

.navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    column-gap: 20px;
    row-gap: 10px;
}

.bannerprincipal{
    background-image: url(../assets/bannerp.jpg);
    background-size: cover;
    height: 50vh;
    align-items: center;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.665);
    background-blend-mode: soft-light;
}

@media screen and (max-width: 992px) {
    .bannerprincipal {
        background-image: url(../assets/bannerp.jpg);
        background-size: cover;
        height: 65vh;
        align-items: center;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.665);
        background-blend-mode: soft-light;
    }
}

.contenedortextobanner{
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.titulobanner{
    font-size: 40px;
}

.textobanner{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.card {
    transition: 250ms;
    height: 100%;
    border: none;
    padding: 20px;
    border-radius: 20px;
}

.card:hover {
    transition: 250ms;
    transform: translateY(-20px);
    height: 100%;
    border: none;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 992px) {
    .card {
        height: 100%;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 992px) {
    .card:hover {
        transition: 250ms;
        transform: translateY(0px);
        height: 100%;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
}

.titulocard {
    font-weight: 700;
    font-size: 25px;
}

@media screen and (max-width: 992px) {
    .titulocard {
        font-size: 18px;
    }
}

.textocard {
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    .textocard {
        font-size: 14px;
    }
}

.imagencard{
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .imagencard {
        border-radius: 5px;
        height: 100px;
    }
}

.sectioncards{
    margin-top: -50px;
}

.sectionimagentexto{
    margin-top: 50px;
    margin-bottom: 25px;
}


.imagen50{
    border-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .imagen50 {
        border-radius: 20px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 25px;
    }
}

.sectiontextos50{
    height: auto;
}

.titulo50 {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
}

.texto50 {
    text-align: left;

}

@media screen and (max-width: 992px) {
    .textocard3 {
        text-align: left;
    }
}

.sectiontext100{
    margin-top: 25px;
    margin-bottom: 25px;

}

.titulo100 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding-top: 25px;
} 

@media screen and (max-width: 992px) {
    .titulo100 {
        text-align: left;
    }
}

.titulo100m {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
} 

@media screen and (max-width: 992px) {
    .titulo100m {
        text-align: left;
    }
}

.titulo100c {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
} 

@media screen and (max-width: 992px) {
    .titulo100c {
        text-align: left;
    }
}

.texto100 {
    text-align: left;;
}

@media screen and (max-width: 992px) {
    .titulo {
        text-align: left;
    }
}

.imagen25 {
    border-radius: 20px;
    max-width: 100%;
}
@media screen and (max-width: 992px) {
    .imagen25 {
        text-align: left;
        border-radius: 10px;
    }
}

.fondocontacto{
    background: rgb(231,231,231);
    background: linear-gradient(180deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    padding-bottom: 25px;
    padding-top: 25px;
}

.sectioniconoscontacto{
    margin-bottom: 25px;
}

.formfield {
    padding-left: 20px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: solid 1px #e8e8e8;
}

.formlist2{
    gap: 10px;
}

.formtext{
    padding-top: 12px;
    padding-left: 20px;
    height: 160px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px #e8e8e8;
}

.formbutton {
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 48px;
    border: solid 1px;
    border-radius: 8px;
    margin-top: -5px;
}

.formbutton:hover {
    transform: scale(1.02);
    transition: 250ms;
    background-color: black;
    color: white;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: solid 1px;
}

.boton {
    transition: 250ms;
    margin-top: 25px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    width: auto;
    align-items: center;
    height: 48px;
    border: solid 1px;
    border-radius: 8px;
}

.boton:hover {
    transform: scale(1.05);
    transition: 250ms;
    background-color: black;
    color: white;
    width: auto;
    height: 48px;
    border-radius: 8px;
    border: none;
}

@media screen and (max-width: 992px) {
    .boton {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .boton:hover {
        transition: 500ms;
        background-color: black;
        color: white;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: none;
    }
}

p {
    margin-bottom: 0;
}

.footer{
    margin: 0;
    padding: 0;
}

.iconosredes{
    transition: 500ms;
    padding: 5px;
}

.iconosredes:hover{
    transition: 500ms;
    scale: 1.2;
}

.clientesfondo{
    margin-bottom: 25px;
}

.seccionesservicios{
    padding-top: 0px;
    padding-bottom: 50px;
}

.serviciosinvertidos {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 992px) {
    .serviciosinvertidos {
        display: flex;
        flex-direction: column-reverse;
    }
}

.linktrabajos{
    scale: 1.0;
}

.linktrabajos:hover{
    z-index: 1;
    transition: 250ms;
    scale: 1.1;
}

.contenedorgaleria{
    cursor: cell;
    transition: 250ms;
    transform: scale(1);
}

.contenedorgaleria:hover{
    z-index: 1;
    transition: 250ms;
    transform: scale(1.1);
}

.contenedorgaleria:active{
    z-index: 1;
    transform:  scale(2);
}

.contenedorgalerial{
    cursor: cell;
    transition: 250ms;
    transform: scale(1);
}

.contenedorgalerial:hover{
    z-index: 1;
    transition: 250ms;
    transform: scale(1.1);
}

.contenedorgalerial:active{
    z-index: 1;
    transform:  scale(2);
}

@media screen and (max-width: 992px) {
    .contenedorgalerial:active{
        z-index: 1;
        transform: translate(45%) scale(2);
    }
}



.contenedorgaleriar{
    cursor: cell;
    transition: 250ms;
    transform: scale(1);
}

.contenedorgaleriar:hover{
    z-index: 1;
    transition: 250ms;
    transform: scale(1.1);
}

.contenedorgaleriar:active{
    z-index: 1;
    transform:  scale(2);
}

@media screen and (max-width: 992px) {
    .contenedorgaleriar:active{
        z-index: 1;
        transform: translate(-45%) scale(2);
    }
}