body{
    font-family: 'Pgaleriagaleriaoppins', sans-serif;
    background-color: $color-fondobody;
    p{
        margin-bottom: 0;
    }
}

.seccionesservicios{
    padding-top: 0px;
    padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
    .serviciosinvertidos {
        display: flex;
        flex-direction: column-reverse;
    }
}

.linktrabajos{
    scale: 1.0;
    &:hover{
        z-index: 1;
        transition: 250ms;
        scale: 1.1;
    }
}

.foot1 {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.error {
    margin-top: 150px;
    mix-blend-mode: multiply;
}







.animated-image {
    position: relative;
    object-fit: cover;
    border-radius: 20px;
    height: 400px;
    width: 100%;
    left: -50%;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0%;
    animation: slide-in1 2s forwards;
}

@keyframes slide-in1 {
    to {
        left: 0;
        opacity: 100%;
    }
}
.slide-in-animation {
    animation: slide-in 2s forwards;
}


.animated-text {
    position: relative;
    right: -25%;
    opacity: 0%;
    animation: slide-in2 2s forwards;
}

@keyframes slide-in2 {
    to {
        right: 0;
        opacity: 100%;
    }
}
.slide-in-animation {
    animation: slide-in 2s forwards;
}




.animated-image2 {
    position: relative;
    object-fit: cover;
    border-radius: 20px;
    height: 400px;
    width: 100%;
    right: -50%;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0%;
    animation: slide-in3 2s forwards;
}

@keyframes slide-in3 {
    to {
        right: 0;
        opacity: 100%;
    }
}
.slide-in-animation {
    animation: slide-in 2s forwards;
}


.animated-text2 {
    position: relative;
    left: -25%;
    opacity: 0%;
    animation: slide-in4 2s forwards;
}

@keyframes slide-in4 {
    to {
        left: 0;
        opacity: 100%;
    }
}
.slide-in-animation {
    animation: slide-in 2s forwards;
}