.bannerprincipal{
    background-image: url(../assets/bannerp.jpg);
    background-size: cover;
    height: 50vh;
    align-items: center;
    background-position: center;
    background-color: $color-backdropbanner;
    background-blend-mode: soft-light;

    .contenedortextobanner{
        color: $color-claroytexto;
        text-align: center;
        padding-bottom: 40px;
    }
    
    .titulobanner{
        font-size: $titulo-banner;
    }
    
    .textobanner{
        font-size: $texto-general;
        font-weight: 400;
        color: $color-claroytexto;
    }

    @media screen and (max-width: 992px) {
        & {
            background-image: url(../assets/bannerp.jpg);
            background-size: cover;
            height: 65vh;
            align-items: center;
            background-position: center;
            background-color: rgba(0, 0, 0, 0.665);
            background-blend-mode: soft-light;
        }
    }
}