$color-primario: #121213;
$color-hovernavbar: #202022;
$color-transparente: #00000000;
$color-backdropbanner: rgba(0, 0, 0, 0.665);
$color-claroytexto: #ffffff;
$color-fondobody: #f3f3f3;
$titulo-banner: 40px;
$titulo: 30px;
$texto-general: 16px;
$titulo-card: 25px;
$titulo-cardm: 18px;
$texto-cardm: 14px;