.fondonavbar {
  background-color: #121213;
}
.fondonavbar .logoprincipalhome {
  scale: 1;
  transition: 250ms;
}
.fondonavbar .logoprincipalhome:hover {
  transition: 250ms;
  scale: 1.1;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .fondonavbar .logoprincipalhome:hover {
    scale: 1;
  }
}
.fondonavbar .botoncontratame {
  transition: 250ms;
  padding: 7px 15px 7px 15px;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  border: solid 1px;
}
.fondonavbar .botoncontratame:hover {
  transform: scale(1.03);
  transition: 250ms;
  padding: 7px 15px 7px 15px;
  font-weight: 400;
  color: #121213;
  background-color: #ffffff;
}

nav .nav1 {
  transition: 250ms;
  color: #ffffff;
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
nav .nav1:hover {
  transition: 250ms;
  color: #ffffff;
  font-weight: 400;
  background: #202022;
  border-radius: 10px;
}

.navbar-nav .nav-link {
  padding-right: 120px;
  padding-left: 10px;
}

.navbar-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}

button:focus:not(:focus-visible) {
  outline: 30px;
}

.navbar-toggler {
  transition: 250ms;
  padding: 4px;
  background-image: url(../assets/menu1.svg);
  background-size: cover;
  width: 46px;
  height: 46px;
}

.navbar-toggler:hover {
  transition: 250ms;
  padding: 4px;
  background-image: url(../assets/menu1.svg);
  background-size: cover;
  background-color: #202022;
  width: 46px;
  height: 46px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.bannerprincipal {
  background-image: url(../assets/bannerp.jpg);
  background-size: cover;
  height: 50vh;
  align-items: center;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.665);
  background-blend-mode: soft-light;
}
.bannerprincipal .contenedortextobanner {
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px;
}
.bannerprincipal .titulobanner {
  font-size: 40px;
}
.bannerprincipal .textobanner {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .bannerprincipal {
    background-image: url(../assets/bannerp.jpg);
    background-size: cover;
    height: 65vh;
    align-items: center;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.665);
    background-blend-mode: soft-light;
  }
}

.sectioncards {
  margin-top: -50px;
}

.card {
  transition: 250ms;
  height: 100%;
  border: none;
  padding: 20px;
  border-radius: 20px;
}
.card .titulocard {
  font-weight: 700;
  font-size: 25px;
}
@media screen and (max-width: 992px) {
  .card .titulocard {
    font-size: 18px;
  }
}
.card .textocard {
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .card .textocard {
    font-size: 14px;
  }
}
.card .imagencard {
  border-radius: 10px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .card .imagencard {
    border-radius: 5px;
    height: 140px;
  }
}
.card:hover {
  transition: 250ms;
  transform: translateY(-20px);
  height: 100%;
  border: none;
  padding: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 992px) {
  .card {
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  .card:hover {
    transition: 250ms;
    transform: translateY(0px);
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
}

.sectiontextos50 {
  height: auto;
}

.titulo50 {
  text-align: left;
  font-weight: 700;
  font-size: 30px;
}

.texto50 {
  text-align: left;
}

.sectiontext100 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.titulo100 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-top: 25px;
}
@media screen and (max-width: 992px) {
  .titulo100 {
    text-align: left;
  }
}

.titulo100m {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  .titulo100m {
    text-align: left;
  }
}

.titulo100c {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .titulo100c {
    text-align: left;
  }
}

.texto100 {
  text-align: left;
}

.imagen50 {
  border-radius: 20px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .imagen50 {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 25px;
  }
}

.sectionimagentexto {
  margin-top: 50px;
  margin-bottom: 25px;
}

.imagen25 {
  border-radius: 20px;
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  .imagen25 {
    text-align: left;
    border-radius: 10px;
  }
}

.fondocontacto {
  background: linear-gradient(180deg, rgb(231, 231, 231) 0%, rgb(255, 255, 255) 100%);
  padding-bottom: 25px;
  padding-top: 25px;
}
.fondocontacto .sectioniconoscontacto {
  margin-bottom: 25px;
}
.fondocontacto .formfield {
  padding-left: 20px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
}
.fondocontacto .formlist2 {
  gap: 10px;
}
.fondocontacto .formtext {
  padding-top: 12px;
  padding-left: 20px;
  height: 160px;
  width: 100%;
  border-radius: 8px;
  border: none;
}
.fondocontacto .formbutton {
  transition: 250ms;
  background-color: rgba(0, 0, 0, 0);
  color: #121213;
  width: 100%;
  height: 48px;
  border: solid 1px;
  border-radius: 8px;
  margin-top: -5px;
}
.fondocontacto .formbutton:hover {
  transform: scale(1.02);
  transition: 250ms;
  background-color: #121213;
  color: #ffffff;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
}

.boton {
  transition: 250ms;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: #121213;
  width: auto;
  align-items: center;
  height: 48px;
  border: solid 1px;
  border-radius: 8px;
}
.boton:hover {
  transform: scale(1.05);
  transition: 250ms;
  background-color: #121213;
  color: #ffffff;
  width: auto;
  height: 48px;
  border-radius: 8px;
  border: none;
}
@media screen and (max-width: 992px) {
  .boton {
    width: 100%;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  .boton:hover {
    transition: 500ms;
    background-color: #121213;
    color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
  }
}

.footer {
  margin: 0;
  padding: 0;
}
.footer .iconosredes {
  transition: 500ms;
  padding: 5px;
}
.footer .iconosredes:hover {
  transition: 500ms;
  scale: 1.2;
}

body {
  font-family: "Pgaleriagaleriaoppins", sans-serif;
  background-color: #f3f3f3;
}
body p {
  margin-bottom: 0;
}

.seccionesservicios {
  padding-top: 0px;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .serviciosinvertidos {
    display: flex;
    flex-direction: column-reverse;
  }
}
.linktrabajos {
  scale: 1;
}
.linktrabajos:hover {
  z-index: 1;
  transition: 250ms;
  scale: 1.1;
}

.foot1 {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error {
  margin-top: 150px;
  mix-blend-mode: multiply;
}

.contenedorgaleria {
  cursor: cell;
  transition: 250ms;
  transform: scale(1);
}
.contenedorgaleria:hover {
  z-index: 1;
  transition: 250ms;
  transform: scale(1.1);
}
.contenedorgaleria:active {
  z-index: 1;
  transform: scale(2);
}

.contenedorgalerial {
  cursor: cell;
  transition: 250ms;
  transform: scale(1);
}
.contenedorgalerial:hover {
  z-index: 1;
  transition: 250ms;
  transform: scale(1.1);
}
.contenedorgalerial:active {
  z-index: 1;
  transform: scale(2);
}
@media screen and (max-width: 992px) {
  .contenedorgalerial:active {
    z-index: 1;
    transform: translate(45%) scale(2);
  }
}

.contenedorgaleriar {
  cursor: cell;
  transition: 250ms;
  transform: scale(1);
}
.contenedorgaleriar:hover {
  z-index: 1;
  transition: 250ms;
  transform: scale(1.1);
}
.contenedorgaleriar:active {
  z-index: 1;
  transform: scale(2);
}
@media screen and (max-width: 992px) {
  .contenedorgaleriar:active {
    z-index: 1;
    transform: translate(-45%) scale(2);
  }
}/*# sourceMappingURL=estilos.css.map */